.chart-legend li span {
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  white-space: nowrap;
  position: relative;
  margin-bottom: -5px;
  border-radius: 5px;
  padding: 2px 2px 2px 2px;
  font-size: smaller;
  cursor: default;

}

.chart-legend ul {
    list-style-type: none;
}